




/* variables  */

:root { 

    --main-color : #5dd9cc ;
}


/* style globale  */

/* style of special-heading  */

.special-heading { 


    color : #f6f6f6 ;   
    font-size : 90px; 
    letter-spacing: -3px;
    margin:0 ;
    
}




@media (max-width : 500px ) { 
    .special-heading {
        font-size: 70px;
    }

  
   
}

@media (max-width : 320px ) {
    
    .special-heading + p {

        
    padding-left: 20%;
}


}



.special-heading + p { 
    

    text-align: center;

    margin-top : -30px; 

     color : #575757 ;



}


/* style default  */

* {

    box-sizing : border-box ; 
    font-family: 'Rubik', sans-serif;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}




/* this is the container of the header  */

header .container {

    background-color: white ;

    width :70%  ;
    padding: 21px 2%;
    margin: 0 auto ;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

}



/* media screens  */


@media (min-width : 576px)
{

    header .container { 
        width:70% ;
    }

 
  }

@media (min-width : 768px)
{

    header .container { 
        width:70% ;
        
    }
}

@media (min-width : 992px)
{

    header .container { 
        width:70% ;

    }
}


@media (min-width : 1200px) {
    header .container{
        width:70% ;

    }
}



/* this is the logo inside the container header */

header .container .logo {
    width: 65px;
    height: 31px;
}



/* ul flex  */
header .container .links ul  {

    position : absolute ;
    right : 0; 
    padding: 0;

    background-color:#eee;
    top : calc(100% + 20px ) ;
    width : 30% ; 
    align-items: center;


    list-style: none;

    display:none ; 



}


/*  add arrow in top right of the ul */
header .container .links ul::before{ 
    content : " " ;
    border:20px solid #eee ;
    border-color: transparent transparent #eee transparent;
 
    position: absolute;
    right : 0; 
    top : -40px;  
   
 
}

header .container:hover  .links ul {
    display:block ;
}

/* style the li of the ul  */
header .container .links  ul li {
    height: 40px ;
    display: flex;
    align-items: center;
    padding: 4%;
    
    




}


header .container .links  ul li:not(:last-child) { 

    border-bottom: 1px solid #333;
}



/* this is the li inside ul header container  */
header .container .links  ul li a  {
    text-decoration: none;
    color : black ;
 }


 /* span.icon iside the links div (links div contain ul and icon )  */

header .container .links .icon {

    position : absolute ;
    display : flex ;
    flex-wrap: wrap;

    justify-content: end;
    width : 30px ; 
    right : 1%; 
    top : 50% ; 

    transform:  translateY(-50%);




    


}

/* global style for all  span's inside .icon */

header .container .links .icon span { 
    background-color: #333;
    margin-bottom : 6px ;
}




/* style for each one of the span's inside .icon */
header .container .links .icon span:first-child { 
    height : 2px ;
    width : 100% ; 
}


header .container .links .icon span:nth-child(2) { 
    height : 2px ;
    width : 60% ; 
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

/* add some transition  */
header .container .links:hover .icon span:nth-child(2){
    width: 100%;
}


header .container .links .icon span:nth-child(3) { 
    height : 2px ;
    width : 100% ; 
}






/* start of landing section  */

.landing { 
    position: relative;
    height : 458px ;
    padding : 10px ;

    width: 100% ;



}


.landing::before { 
    content : "" ; 
    position: absolute ;
    z-index : -1 ; 
    
    top : 0; 
    left : 0 ;

    background-image: url("../images/mountain.jpg") ;
    background-size: cover; 


    width : 100% ; 
    height : 100%; 

    opacity : 0.5 ; 



}

.landing .into_text { 
    position : absolute ; 
    top :50% ;
    left : 50% ; 
    transform : translate(-50%, -50% ) ;
    text-align: center;
    width : 100% ;

}
.landing .into_text h1 { 

    color : var(--main-color) ;
    font-weight: bold;
    font-size  :40px ;
    
} 


.landing .into_text p {
    color : #1d2225; 
}



/* container of the section after landing   */




.features {
    
    padding-top:60px ; 


}

/* the container inside section */

.features .container  {

    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
 
    row-gap: 20px;

    
}




/*  style every feauture */

.features .container .feat { 
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;

    grid-template-columns: 80%;
    grid-template-rows: 20% 10% 30%;

    height: 250px;


} 

 .features .container .feat:nth-child(2){

    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}



/* h1 style inside every feature  */

.features .container.feat h1 {
    font-weight: 800;
    padding-bottom: 14px;
}

/* p style inside every feature  */
.features .container .feat p { 
    text-align: center;
    line-height: 1.6;
} 


/* changing font and color of icon's  */



 .features .container .feat i { 
    font-size : 39px ; 
    color : var(--main-color) ;
    margin-bottom: 20px;
}   




/* start of the services special heading  */


.services { 

    background-color: #ffffff;

}


.services .container {
    
    text-align:center ;
    width : 70% ; 
    margin : 10px auto 0px ;

}





/*   */

.services .container .services-contents {
    
    display: grid;
    grid-template-columns: repeat(3 , 30%);
    grid-template-rows: 40% 40%;
    justify-content: space-around;
    align-content: space-around;
    height: 300px;
    width: 100%;
    margin : 40px auto 0px ;
    row-gap: 3%;




   
    



}






/* responsive of  */
@media (max-width : 1000px) {

    .services .container .services-contents {
        grid-template-columns: repeat(2,40%);
        grid-template-rows: repeat(2,40%);
    }
    .services .container .services-contents  .two {
        display: none;
    }
}







@media (max-width : 750px) {


    
    .services .container .services-contents {
        margin-top : 100px  ;
        grid-template-columns: repeat(1,90%);
        grid-template-rows: repeat(4,30%);
        height: 500px;
    }
    .services .container .services-contents  .two {
        display: none;
    }
}


@media (max-width : 580px) {


    .services .container .services-contents {
        margin-top : 100px  ;

        grid-template-columns: repeat(1,90%);
        
        height: 500px;

    }
    .services .container .services-contents  .two {
        display: none;
    }

    .services .container .services-contents {
        margin-bottom: 10px;
    }
    
}



.services-contents div {
    display: grid;
    grid-template-columns: 10% 80%;
    grid-template-rows: 40% 40%;
    height: 100%;
    justify-content: space-between;
    justify-items: start;
    padding: 3px 7px ;


    
   

    
}

.services-contents div i { 

    font-size : 30px ; 
    color : var(--main-color) ;
}

.services-contents div p {
    font-size: 12px;
    text-align: start;
}
.services-contents .two {
    grid-column: 3;
    grid-row: 1/span 2;
    position:relative ; 

}


.services-contents .two .form_1 {
    position :absolute; 
    width : 80%; 
    height: 80%;
    background-color: #eee;
    top : 0 ; 
    left :0 ;
    transform: translate(10%,10%);
    z-index: 2;


}

.services-contents .two .form_2 {
    position :absolute ;
    width : 20% ; 
    height: 100%;
    background-color: #333;
    top:0; 
    right:0; 
    transform:translateX(-5%) ;

}




