




/* variables  */

:root { 

    --main-color : #5dd9cc ;
}


/* style globale  */

/* style of special-heading  */



.special-heading { 


    color : #ebeced ;   
    font-size : 90px; 
    letter-spacing: -3px;
    text-align: center;
    margin : 0 auto 0 ; 
    
}


.special-heading + p { 
    

    text-align: center;

    margin-top : -30px;
    width : 90% ;
    margin:-30px auto 0 ; 

    color : #575757 ;
    

}


/* style default  */

* {

    box-sizing : border-box ; 
    font-family: 'Rubik', sans-serif;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}




/* this is the container of the header  */

header .container {

    background-color: white ;

    width :70%  ;
    padding: 21px 2%;
    margin: 0 auto ;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

}








/* this is the logo inside the container header */

header .container .logo {
    width: 65px;
    height: 31px;
}



/* ul flex  */
header .container .links ul  {

    position : absolute ;
    right : 0; 
    padding: 0;

    background-color:#eee;
    top : calc(100% + 20px ) ;
    width : 30% ; 
    align-items: center;


    list-style: none;

    display:none ; 



}


/*  add arrow in top right of the ul */
header .container .links ul::before{ 
    content : " " ;
    border:20px solid #eee ;
    border-color: transparent transparent #eee transparent;
 
    position: absolute;
    right : 0; 
    top : -40px;  
   
 
}

header .container:hover  .links ul {
    display:block ;
}

/* style the li of the ul  */
header .container .links  ul li {
    height: 40px ;
    display: flex;
    align-items: center;
    padding: 4%;
    
    




}


header .container .links  ul li:not(:last-child) { 

    border-bottom: 1px solid #333;
}



/* this is the li inside ul header container  */
header .container .links  ul li a  {
    text-decoration: none;
    color : black ;
 }


 /* span.icon iside the links div (links div contain ul and icon )  */

header .container .links .icon {

    position : absolute ;
    display : flex ;
    flex-wrap: wrap;

    justify-content: end;
    width : 30px ; 
    right : 1%; 
    top : 50% ; 

    transform:  translateY(-50%);




    


}

/* global style for all  span's inside .icon */

header .container .links .icon span { 
    background-color: #333;
    margin-bottom : 6px ;
}




/* style for each one of the span's inside .icon */
header .container .links .icon span:first-child { 
    height : 2px ;
    width : 100% ; 
}


header .container .links .icon span:nth-child(2) { 
    height : 2px ;
    width : 60% ; 
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

/* add some transition  */
header .container .links:hover .icon span:nth-child(2){
    width: 100%;
}


header .container .links .icon span:nth-child(3) { 
    height : 2px ;
    width : 100% ; 
}






/* start of landing section  */

.landing { 

    position: relative;
    height : 458px ;
    padding : 10px ;

    width: 100% ;

    background-image: url(../images/header_naru_sasuke.jpg);
    background-size: 100% 100%; /* Use 100% for both width and height to cover the entire div */
    background-repeat: no-repeat;
    background-position: center center;
    animation-name: background_header;
    animation-duration: 5s ; 
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    animation-fill-mode: both ; 

}


.landing:nth-child(1) {
    animation-delay: 6s; /* 2s delay before animation + 4s animation duration */
  }
  

@keyframes background_header {

    0% {

    background-image: url(../images/header_naru_sasuke.jpg);
        
    }

    50% {
    background-image: url(../images/naruto_sasuke.jpg);

    }

    100%{
    background-image: url(../images/header_naru_sasuke.jpg);

    }
}


@media (max-width :990px ) {
    
.landing {
    background-image: url(../images/naruto_sasuke.jpg);

}

}

.landing .into_text { 
    position : absolute ; 
    top :50% ;
    left : 50% ; 
    transform : translate(-50%, -50% ) ;
    text-align: center;
    width : 100% ;

}
.landing .into_text h1 { 

    color : var(--main-color) ;
    font-weight: bold;
    font-size  :40px ;
    
} 


.landing .into_text p {
    
    color: #ff1ead;
}



/* container of the section after landing   */




.features {
    
    padding-top:60px ; 


}

/* the container inside section */

.features .container  {

    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
 
    row-gap: 20px;

    
}




/*  style every feauture */

.features .container .feat { 
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;

    grid-template-columns: 80%;
    grid-template-rows: 20% 10% 30%;

    height: 250px;


} 

 .features .container .feat:nth-child(2){

    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}



/* h1 style inside every feature  */

.features .container.feat h1 {
    font-weight: 800;
    padding-bottom: 14px;
}

/* p style inside every feature  */
.features .container .feat p { 
    text-align: center;
    line-height: 1.6;
} 


/* changing font and color of icon's  */



 .features .container .feat i { 
    font-size : 39px ; 
    color : var(--main-color) ;
    margin-bottom: 20px;
}   




/* start of the services special heading  */


.services { 

    background-color: #ffffff;

}


/* the big container of the section services  */

.services .container {
    
    width : 80% ; 
    margin : 10px auto 0px ;

}













/* styling testign */


.ser-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(345px , 1fr));
    row-gap: 20px;
    width: 100%;
    margin : 20px auto 0px ;

    
}

/* the image inside .three (the third column in the grid .serv-cont) */
.ser-cont .three img {

    width:100%; 
    height: 100%  ;
}


/* style of the first tow column of the grid .serv-cont */
.ser-cont .one {

    display: grid;
    grid-template-columns: 90% ;
    grid-template-rows: repeat(2,40%);
    justify-content: center;
    align-content: space-around;

    height :300px ;

}

/* .three it is the third column in the grid of .serv-cont */
.ser-cont .three {
    display: flex;
    justify-content: center;
    align-items: center;

}
.ser-cont .one div {
    display: grid;
    grid-template-columns: 10% 85%;
    grid-template-rows: 20% 60%;

    justify-content: space-around;
    align-content: space-around;

}



.ser-cont .one div i {

    font-size: 30px;
    color: var(--main-color);

}




/* section portfolio */


.portfolio {
    text-align: center;
    background-color: #fafafa;
    margin-top: 100px;
    padding-bottom : 40px ; 
}


/* the container  of the section portofolio */

.portfolio .container { 

    text-align: start;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));

    column-gap: 5%;
    row-gap: 5%;
    justify-content: space-between;
    width: 80%;
    margin:60px auto  20px; 


}

/* each div in the container of the section portofilio */

.portfolio .container .card {
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    height: 300px;
    box-shadow: -10px -10px 15px 0 rgba(0, 0, 0, 0.2);

}

.portfolio .container .card .text{
    padding:10px; 
    width: 100%;
    background-color: white;
}
/* the image iside each div in the container  */

.portfolio .container .card img{
    width: 100%;
    height: 70%;

}
 

.portfolio button {

    margin-top: 100px;
    height: 40px;
    width : 200px ;
    border: 2px solid black;
    border-radius: 3px;

}

@media (min-width : 807px){

.portfolio button {
    margin-top: 30px;
}
}


.portfolio button a {
    text-decoration: none;
    color : black; 
    font-weight : 800 ;
    
    
}




/* start of section about  */

.about {
    padding-top : 50px ;
    padding-bottom: 100px;
    
}



/* start style container of about section  */
.about .container {
    width: 70%;
    display: grid ;
    grid-template-columns: repeat(auto-fit , minmax(350px , 1fr ));
    justify-content: space-around;

    row-gap: 10% ;
    column-gap: 10%;
    margin:80px auto 0 ; 

    

}

/* start style each column in the container */

.about .container .one {

    height: 200px;


}



/* style the last column in the container of about section  */
.about .container .one:last-child {
    display: flex;
    flex-direction: column ; 
    justify-content: space-between;

    padding : 2% ;
}


/* style the first p inside the last column in the container about  */
.about .container .one:last-child > p:first-of-type {
    font-size: 16px;
    font-weight: bold;

    height: 40%;
}

/* style the hr inside the last column in the container about  */

.about .container .one:last-child hr {
    height: 1px;
    background-color: var(--main-color);
    margin-bottom: 2%;
}


/* add position relative to the first child column in the container about  */
.about .container .one:first-child {
    position : relative ;
}


/* style four boxes for the first child in the container about  */

.about .container .one .form_1 {
    position: absolute;
    top : 0 ;
    left: 34% ;
    background-color: #ebeced;
    width : 10% ; 
    height: 100%;
}


.about .container .one .form_2 {

    position : absolute ; 
    z-index: 7;
    background-color:#ebeced;
    width: 40%;
    height: 74%;
    top: 14%; 
    left: 40%;
}
.about .container .one .form_3 {
    position: absolute;
    z-index: 3;
    background-color: var(--main-color);
    width: 10%;
    height: 60%;
    right: 16%;
    bottom : 37%  ; 
}

.about .container .one .form_4 {
    position: absolute;
    z-index: 4;
    background-color: var(--main-color);
    width : 20% ; 
    height: 17%;
    right : 6% ;
    bottom : 30%; 

}



